
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo2.png"
             class="img-responsive center-block"
             style="max-height:300px; max-width: 400px; padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Frankie Yu</h3>
      </div>

      <div class="text-center">@frankieyu</div>
      <div class="text-center">
        <a href="https://aauth.co.uk">https://aauth.co.uk</a>
      </div>
    </div>
  </div>
</div>
