<div class="card" [formGroup]="filterForm" novalidate autocomplete="off">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <label for="inputFilter" class="col-sm-2 col-form-label">Filter</label>
      <div class="col-sm-10">
        <input
          type="text"
          data-cy="countryCode"
          formControlName="countryCode"
          [(ngModel)]="countryCode"
          class="form-control"
          id="inputFilter"
          (keydown)="keyDown($event)"
          [ngClass]="{ 'is-invalid': countryCodeInvalidationMessage || countryService.apiErrorMessage}"
        />
        <div data-cy="invalidMessage" class="invalid-feedback">
          {{ countryCodeInvalidationMessage }}
        </div>
        <div class="invalid-feedback" data-cy="apiErrorMessage">
          {{countryService.apiErrorMessage}}
        </div>
      </div>
    </div>

    <button
      type="button"
      data-cy="search"
      class="btn btn-primary"
      [disabled]="filterForm.invalid || countryService.apiErrorMessage"
      (click)="search()"
    >
      Search
    </button>
  </div>
</div>
